@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Quicksand', sans-serif;
}

textarea {
	padding: 10px;
	width: 400px;
	height: 150px;
}

.test {
	margin: 20px;
}
